<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>580432435587-pg5f75bvuifqj4gedjj2llhv7ikqbrm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580432435587-pg5f75bvuifqj4gedjj2llhv7ikqbrm4</string>
	<key>API_KEY</key>
	<string>AIzaSyBUwxBWzglo1vrARG9hv-BdGWZ-DqVTa70</string>
	<key>GCM_SENDER_ID</key>
	<string>580432435587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kelvin.FirebaseRelationships</string>
	<key>PROJECT_ID</key>
	<string>fir-relationships</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-relationships.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:580432435587:ios:0897e8f3019693ef</string>
	<key>DATABASE_URL</key>
	<string>https://fir-relationships.firebaseio.com</string>
</dict>
</plist>